@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1 class="display-1"> muestra de la funcion AES</h1>


<div class="UsoFunAES">

    <label for="claveI">ingrese valor</label>
    <input type="text" id="claveI" placeholder="Ingrese Valor a cifrar" />
    <label for="claveO">Valor Cifrado</label>
    <input type="text" id="claveO" placeholder="Valor Cifrado" />
    <br />
    <button id="btnc">Cifrar</button>
    <hr />

    <label for="claveRO">ingrese valor</label>
    <input type="text" id="claveRO" placeholder="valor Descifrado" />
    <button id="btn">Descifrar</button>


</div>

<h1 class="display-1"> muestra de la funcion MD5</h1>

<div class="MD5">

    <label for="ci">ingrese valor</label>
    <input type="text" id="ci" placeholder="Ingrese Valor a cifrar" />
    <label for="co">Valor Cifrado</label>
    <input type="text" id="co" placeholder="Valor Cifrado" disabled />
    <br />
    <button id="crip">Cifrar</button>
    <hr />

    <label for="cr">ingrese valor</label>
    <input type="text" id="cr" placeholder="valor Descifrado" disabled />
    <button id="boton2">Descifrar</button>

</div>


<script>


    const MDbtnC = document.getElementById('crip');
    const MDbtnD = document.getElementById('boton2');
    let v1 = document.getElementById('ci');
    let v2 = document.getElementById('co');
    let v3 = document.getElementById('cr');

    MDbtnC.addEventListener('click', () => {
        $.get("md5C/?valor=" + v1.value, data => {
            v2.value = data;
        });
    });

    MDbtnD.addEventListener('click', () => {
            $.get("md5D/?valor=" + v2.value, data => {
                v3.value = data;
            });
    });



   const btnC = document.getElementById("btnc");
    const btnD = document.getElementById("btn");

    let valorI = document.getElementById("claveI");
    let valorO = document.getElementById("claveO");
    let valorRO = document.getElementById("claveRO"); 


    btnC.addEventListener('click', () => {
        $.get("cifrarAES/?textoAcifrar=" + valorI.value, data => {
            valorO.value = data;

        });
    })

    btnD.addEventListener('click', () => {
        $.get("descifrarAES/?textoCifrado=" + valorO.value, data => {
            valorRO.value = data;

        });
    })


</script>


